/*
****************************************************************************************************
****** 	Author: Robert Johner																																	******
****** 	Date: 15.08.2020																																			******
****** 	Version: 1.0																																					******
****** 	File: style.js																																		    ******
****************************************************************************************************

Change History:
1.0 Initial version

*/

body {
	font-family: "Roboto", sans-serif;
	background: #e1eaf8;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
}

#main-content {
	display: none;
}

.body-bg-avatar {
	background-image: url(../img/bg_avatar.png);
}

.body-bg-white {
	background-image: url(../img/bg_white.png);
}

.modal-bg-badge {
	background-image: url(../img/badges/bg_badge.png);
	background-repeat: no-repeat;
	position: relative;
	background-size: contain;
	background-position: bottom;
}


h1 {
	font-family: "Syne", sans-serif;
	letter-spacing: 5px;
	color: #fff;
	font-size: 110px;
	font-weight: 400;
	line-height: 0;
}

h5,
h3 {
	color: #ec516a;
	font-size: 40px;
}

.row {
	margin: 0;
}

input[type="text"] {
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 0 25px rgb(229, 229, 229);
	border: none;
	padding: 15px 120px;
	margin-bottom: 30px;
}

input[type="text"]:focus,
input[type="text"]:active {
	outline: none;
}

.center {
	margin: 0 auto;
	display: block;
}

/*loader start*/

#page-loader {
	text-align: center;
	top: 40%;
	position: relative;
	display: none;
}

.lds-roller {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}
.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #ec516a;
	margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}
.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}
.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}
.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}
.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}
.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}
.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}
.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}
@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*loader end*/

/*game page start*/
.screens-container {
	padding: 0;
}

.container {
	margin: 0;
	width: 100%;
	max-width: 100%;
	padding: 0;
}

.logo-text-container {
	padding-top: 100px;
}

.close {
	visibility: hidden;
}

.game-page-container.active {
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	height: 100vh;
}

#username {
	border: 1px solid transparent;
	position: relative;
	z-index: 1;
	font-family: "Syne", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #a2a2a2;
}

#username:focus {
	border: 1px solid rgb(229, 229, 229);
}

#start-game-button {
	padding: 10px 20px;
	border-radius: 20px;
	position: relative;
	z-index: 1;
}

#choose-language {
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 0 25px rgb(229, 229, 229);
	border: none;
	width: 200px;
	height: auto;
	padding: 10px 20px;
	color: #7e7e7e;
	font-family: Syne, sans-serif;
}

.footer-container {
	justify-content: space-between;
	padding: 0 60px;
}

#music-action {
	cursor: pointer;
}

.logo-text-mobile {
	display: none;
}

#error-username {
	color: red;
	font-weight: bold;
}

/*game page end*/

#modal-close:focus,
#modal-close:active {
	outline: none;
}

/*start game page start*/
.header-close-container {
	position: absolute;
	right: 0;
	margin-right: 40px;
	max-width: none;
	width: 350px;
	z-index: 1000;
}

.header-close-container .btn-header {
	color: white;
	font-size: 40px;
	float: right;
	margin-right: 20px;
	margin-top: 30px;
}

.header-close-container .btn-header i {
	cursor: pointer;
}

.header-close-container .label-points {
	position: absolute;
	top: 28px;
	font-size: 30px;
	color: #ec516a;
	font-family: "Syne", sans-serif;
	pointer-events: none;
}

.body-bg-avatar .header-close-container .label-points {
	color: white;
}

.header-close-container .label-points .current-points {
	font-family: "Roboto", sans-serif;
}

.red-close-icon .btn-header i {
	color: #ec516a;
}

.start-game-page-container .start-game-button {
	box-shadow: 0 0 25px rgb(229, 229, 229);
	border-radius: 30px;
}

.start-game-page-container .help-button {
	padding: 5px 20px;
	position: relative;
	z-index: 2;
}

.invite-icon {
	font-size: 30px;
	display: inline;
	background: white;
	border-radius: 100%;
	padding: 30px;
	box-shadow: 0 0 25px rgb(229, 229, 229);
	color: #ec516a;
	margin-right: 150px;
	position: relative;
	z-index: 1;
	cursor: pointer;
	bottom: 30px;
	margin-bottom: 80px;
}

.invite-icon .before {
	display: none;
}

.invite-icon.clicked .before {
	position: absolute;
	background: black;
	color: #EEE;
	font-size: 12px;
	white-space: nowrap;
	left: -50%;
	padding: 5px;
	display: block;
	border-radius: 5px;
	top: 25px;
	box-shadow: 0 0 25px rgb(229, 229, 229);
}

.start-game-page-container .logo-text-container {
	height: 55vh;
	padding-top: 0;
}

.logo-text-container h1 {
	font-size: 80px;
}

.notification {
	position: absolute;
	top: -15px;
	right: -15;
	padding: 2px 8px;
	border-radius: 50%;
	background: red;
	color: white;
	font-weight: bold;
	font-size: 16px;
}

.waggle {
	animation: waggle 1s 0s forwards ease-out;
}

@keyframes waggle {
	0% {
		transform: none;
	}
	50% {
		transform: rotateZ(-20deg) scale(1.2);
	}
	60% {
		transform: rotateZ(25deg) scale(1.2);
	}
	67.5% {
		transform: rotateZ(-15deg) scale(1.2);
	}
	75% {
		transform: rotateZ(15deg) scale(1.2);
	}
	82.5% {
		transform: rotateZ(-12deg) scale(1.2);
	}
	85% {
		transform: rotateZ(0) scale(1.2);
	}
	100% {
		transform: rotateZ(0) scale(1);
	}
}

/*start game page end*/

/*random game mode page start*/

.random-game-mode-button {
	margin-bottom: 80px;
	position: relative;
	z-index: 1;
}

.random-button-mobile {
	display: none;
}

.game-mode-container {
	justify-content: center;
	flex-wrap: wrap;
}

.game-mode-logo {
	pointer-events: none;
	margin-top: -46px;
}

.game-mode-challenge {
	font-weight: bold;
}

.random-button-desktop .btn {
	display: inline-block;
	margin: 0;
	margin-right: 10px;
}

/*random game mode page end*/

/*detective page start*/

.detective-page-logo,
.results-page-logo {
	margin-top: -40px;
	position: relative;
}

.detective-page-logo h2,
.results-page-logo h2 {
	color: #7e7e7e;
}

.detective-page .progress {
	width: 50%;
	margin: 0 auto 40px auto;
	background-color: rgba(255, 0, 0, 0.2);
}

.detective-page .progress-bar {
	background-color: #ec516a;
}

.creator-page .progress,
.detective-page .progress,
.creator-page .green .progress,
.detective-page .green .progress {
	width: 50%;
	margin: 0 auto 40px auto;
	background-color: rgba(50, 205, 50, 0.2);
}

.creator-page .progress-bar,
.detective-page .progress-bar,
.creator-page .green .progress-bar,
.detective-page .green .progress-bar {
	background-color: #32cd32;
}

.creator-page .yellow .progress,
.detective-page .yellow .progress {
	background-color: rgba(255, 255, 0, 0.2);
}

.creator-page .yellow .progress-bar,
.detective-page .yellow .progress-bar {
	background-color: #ffbf00;
}

.creator-page .red .progress,
.detective-page .red .progress {
	background-color: rgba(255, 0, 0, 0.2);
}

.creator-page .red .progress-bar,
.detective-page .red .progress-bar {
	background-color: #ff0000;
}

.progress-bar {
	transition: none;
}

.progress-bar span {
	position: absolute;
	color: #000000;
	left: 50%;
	transform: translate(-50%, 0);
}

.detective-page .progress-container,
.creator-page .progress-container {
	position: relative;
}

.questions-progress {
	margin-bottom: 50px;
	position: relative;
	z-index: 1;
	pointer-events: none;
}

.question-number, .creator-number {
	color: #7e7e7e;
	margin-top: 20px;
}

.current-question, .current-creator {
	height: 15px;
	width: 35px;
	border-radius: 30%;
	border: 2px solid #bbb;
	display: inline-block;
	margin: 5px 20px;
}

.current-question.active, .current-creator.active {
	background-color: #ec516a;
	box-shadow: 0 0 25px rgb(236, 81, 106);
	border: 2px solid transparent;
}

.detective-page .choice {
	white-space: normal;
	padding: 10px 5px;
	letter-spacing: 0;
	background-color: #e8e8e8;
	color: #7e7e7e;
	border: 1px solid transparent;
	margin: 10px;
}

.detective-page .choice:hover {
	border: 1px solid #7e7e7e;
	color: #000000;
}

/*detective page end*/

/*results page start*/
.show-more-results {
	font-size: 50px;
}

.show-more-results i {
	cursor: pointer;
	color: #d3d3d3;
}

.results-page .play-again-button {
	padding: 15px 30px;
	border-radius: 20px;
	position: relative;
	z-index: 1;
	margin-top: 40px;
}

.results-page .share-highscores-button {
	padding: 15px 30px;
	border-radius: 20px;
	position: relative;
	z-index: 1;
	margin-top: 20px;
	margin-bottom: 140px;
	color: #ec516a;
	background: #ffffff;
	box-shadow: 0 0 25px rgb(229, 229, 229);
	border: 1px solid transparent;
}

.results-page .share-highscores-button .before {
	display: none;
}

.results-page .share-highscores-button.clicked .before {
	position: absolute;
	background: black;
	color: #EEE;
	font-size: 12px;
	white-space: nowrap;
	left: 10px;
	padding: 5px;
	display: block;
	border-radius: 5px;
	top: 15px;
	box-shadow: 0 0 25px rgb(229, 229, 229);
}

/*results page end*/

/* colors */
.red {
	color: #ec516a !important;
}

.white {
	color: #fff !important;
}

.logo img {
	height: 43%;
	margin-top: -70px;
}

.start-game-page-container .logo img {
	height: auto;
	margin: 0;
	max-height: 55vh;
	pointer-events: none;
	margin-top: -15vh;
}

.greetings {
	font-weight: bold;
	font-size: 40px;
}

#current-username {
	font-family: "Syne", sans-serif;
	font-weight: 400;
	color: #ec516a;
	font-size: 35px;
}

.fa {
	color: #8ba4cc;
}
.box {
	background: white;
	border: 1px solid #eee;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
}

.header-action {
	display: contents;
}
.result:last-child {
	margin-bottom: 30px;
}
.result {
	padding: 10px;
	transition: all 0.12s linear;
}

.info {
	color: #00529b;
	background-color: #bde5f8;
}
.success {
	color: #ffffff;
	background-color: #32cd32;
}
.warning {
	color: #9f6000;
	background-color: #feefb3;
}
.error {
	color: #ffffff;
	background-color: rgba(240, 52, 52, 0.7);
}
.question {
	padding: 10px;
	transition: all 0.12s linear;
	margin-bottom: 40px;
}
.question-img {
	border-radius: 10px;
	height: 270px;
	object-fit: contain;
}
.question-text {
	margin: 40px auto;
	width: 40%;
	font-size: 20px;
	text-align: center;
}
.choices {
	width: 40%;
	margin: 0 auto;
}

.choice {
	margin-right: 5px;
	margin-bottom: 10px;
}
.result-link a {
	color: white;
	text-decoration: none;
}
.result {
	margin-top: 20px;
	border-radius: 10px;
}
.result-link button {
	padding: 6px 17px;
	margin-top: 5px;
}
.result-question {
	margin-top: 10px;
	text-align: left;
}

.result-link {
	text-align: right;
}

.result-link button {
	background: #4956cc;
	padding: 10px 0;
	width: 180px;
}

.result-link a:hover {
	color: #5333ed;
}
.game-mode-box {
	margin-top: 30px;
	width: 90%;
	padding: 10px;
	cursor: pointer;
	margin-bottom: 40px;
	transition: all 0.12s linear;
	background: #ffffff;
	box-shadow: 0 0 25px rgb(229, 229, 229);
	border-radius: 10px;
	border: 2px solid transparent;
}
.select-game-mode-button.gray {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
.game-mode-box.selected {
	box-shadow: 0 0 25px rgb(236, 81, 106);
}
.game-mode-box.hovering:not(.hovering-this) {
	background: #80808042;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}

.game-mode-box.active {
	background: #ffffff;
	box-shadow: 0 0 25px rgb(229, 229, 229);
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
	filter: none;
	border: 2px solid #ec516a;
}

.icon-lg {
	color: #8ba4cc;
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 90px;
}
.header-action .box {
	margin-right: 5px;
	height: 90%;
}

.current-user h4 {
	margin-top: 45px;
}

.current-user img {
	width: 100px;
	height: 100px;
	object-fit: contain;
}

/* avatars */
.avatar i {
	font-size: 50px;
	color: #d9d9d9;
	position: relative;
	top: 30px;
	cursor: pointer;
}

.avatar i:hover {
	color: #a0a0a0;
}

.avatar img {
	width: 20%;
	height: 20%;
	object-fit: contain;
}

.input {
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 0 15px;
}

/* buttons */
.btn {
	font-family: "Syne", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	white-space: nowrap;
	cursor: pointer;
	text-decoration: none;
	text-transform: none;
	padding: 20px 50px;
	border: 5px solid transparent;
	border-radius: 15px;
	letter-spacing: 2.5px;
	transition: all 0.12s linear;
}

.btn.focus,
.btn:focus {
	outline: 0;
	box-shadow: none;
}

.btn span,
.btn i {
	padding-left: 10px;
}

.btn-modal {
	padding: 10px 40px !important;
	margin-right: 36px;
	margin-left: 36px;
}

.btn-primary-red {
	background-color: #ec516a;
	border-color: #ec516a;
}

.btn-primary-red.correct {
	background-color: #32cd32 !important;
	color: #ffffff !important;
}

.btn-primary-red.wrong {
	background-color: rgb(240, 52, 52) !important;
	color: #ffffff !important;
}

.btn span {
	padding-left: 10px;
}

.btn-primary-purple {
	background-color: #4956cc;
	border-color: #4956cc;
}

.btn-primary-gray {
	background-color: #e5e5e5;
	border-color: #e5e5e5;
	color: black;
}

.btn-action-mute {
	font-size: 35px;
}

/* FAQ's */
.faq-page-container {
	padding-top: 30px;
}

.faq-box {
	background-color: #ec516a;
	border-radius: 15px;
	margin: 10px 50px;
	padding: 15px;
	box-shadow: 0 0 25px rgb(229, 229, 229);
}

.faq-back-button {
	margin-top: 30px;
}

.faq-box img,
.faq-box-alternate img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 60%;
}

#help-detective-img {
	width: 50%;
}

.faq-title {
	font-family: "Syne", sans-serif;
	font-weight: 400;
	font-size: 27px;
	text-align: left;
	color: #fff;
}

.faq-body {
	font-size: 15px;
	text-align: left;
	color: #fff;
}

.faq-box-alternate {
	background-color: #fff;
	border-radius: 15px;
	margin: 10px 50px;
	padding: 15px;
	box-shadow: 0 0 25px rgb(229, 229, 229);
}

.faq-back-button {
	margin-bottom: 80px;
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 20px;
	width: 160px;
}

.faq-title-alternate {
	font-family: "Syne", sans-serif;
	font-weight: 400;
	font-size: 27px;
	text-align: left;
}

.faq-body-alternate {
	font-size: 17px;
	text-align: left;
}

#current-user {
	margin-left: 25px;
	position: relative;
	top: 10px;
}

.mb-100 {
	margin-bottom: 100px;
}

.form-control {
	border-radius: 0;
}
img,
i {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10+ and Edge */
	user-select: none; /* Standard syntax */
}
select {
	border: none;
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 0;
	width: 100%;
	overflow: visible;
	color: #000;
}

footer > .footer-container > .language-container,
footer > .footer-container > .center,
footer > .footer-container > .sound-container {
	margin-top: -70px;
}

img#detecive,
img#creator {
	width: 250px;
}

/* modal dialog */
.modal-title {
	font-family: "Syne", sans-serif;
}

.modal-header button {
	position: absolute;
	right: 1rem;
	cursor: pointer;
	top: 10px;
}

.modal-content {
	border: none;
	padding: 0 25px 25px 25px;
}

.modal-header {
	border-bottom: 0 none;
	padding-top: 40px;
}

.modal-footer {
	border-top: 0 none;
}

.modal-footer button {
	padding: 5px 40px !important;
	border-radius: 30px;
	padding: 5px 0 !important;
	border-radius: 30px;
	width: 120px;
	max-width: 120px;
}

.modal-badge-container {
	text-align: center;
}

.modal-badge-container #earned-badge {
	width: 240px;
}

.modal-dialog-badge {
	width: 1000px;
	max-width: none;
}

.modal-body p {
	margin-bottom: 0;
}

.modal-body p,
.modal-body p * {
	text-align: center;
	font-size: 25px;
}

#feedbackModal p,#feedbackModal p * {
    font-size: 17px;
}

#feedbackModal p {
    margin-bottom: 20px;
}


/* flags */
.flag-icon-background {
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
}
.flag-icon {
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	width: 1.33333333em;
	line-height: 1em;
}
.flag-icon:before {
	content: "\00a0";
}
.flag-icon.flag-icon-squared {
	width: 1em;
}

.flag-icon-de {
	background-image: url(../img/flags/de.svg);
}

.flag-icon-fr {
	background-image: url(../img/flags/fr.svg);
}

.flag-icon-it {
	background-image: url(../img/flags/it.svg);
}

.flag-icon-en {
	background-image: url(../img/flags/en.svg);
}

/*speaker icon start*/

.speaker {
	height: 50px;
	width: 50px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	cursor: pointer;
}
.speaker span {
	display: block;
	width: 12px;
	height: 12px;
	background: #ec516a;
	margin: 11px 0 0 2px;
}
.speaker span:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent #ec516a transparent transparent;
	border-width: 17px 21px 17px 22px;
	left: -15px;
	top: 0;
}
.speaker span:before {
	transform: rotate(45deg);
	border-radius: 0 50px 0 0;
	content: "";
	position: absolute;
	width: 5px;
	height: 5px;
	border-style: double;
	border-color: #ec516a;
	border-width: 15px 15px 0 0;
	left: 32px;
	top: 9px;
	transition: all 0.2s ease-out;
}
.speaker:hover span:before {
	transform: scale(0.8) translate(-3px, 0) rotate(42deg);
}
.speaker.mute span:before {
	transform: scale(0.5) translate(-15px, 0) rotate(36deg);
	opacity: 0;
}

/*speaker icon end*/

/*creator page start*/
.creator-page-container,
.publish-container {
	margin: 20px;
	justify-content: center;
}

.creator-page-container {
	margin-top: 35px;
	margin-bottom: 60px;
}

.creator-page-container h5 {
	position: absolute;
	top: -30px;
	margin: 0 auto;
	width: 100%;
	font-size: 20px;
	text-align: center;
}

.img-section,
.article-section,
.platform-section {
	border: 2px solid #ec516a;
	border-radius: 10px;
	margin: -10px 40px;
	margin-top: 5px;
}

.img-section img {
	width: 100%;
	height: auto;
}

.img-section .img-section-img {
	margin: 20px 0;
	cursor: pointer;
	margin-bottom: 40px;
	border-radius: 10px;
	overflow: hidden;
	transition: all 0.12s linear;
	border: 2px solid transparent;
}

.img-section .img-section-img:hover {
	box-shadow: 0 0 10px rgb(105, 105, 105);
}

#images.selectedImage .img-section-img:not(.selected) {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}

.img-section .selected {
	border: 2px solid #ec516a;
	background: #ffffff;
	box-shadow: 0 0 10px rgb(229, 229, 229);
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
	filter: none;
}

.article-section,
.platform-section,
.publish-container,
.article-title,
.platform-title,
.img-section {
	visibility: hidden;
}

#article-title {
	position: relative;
	top: 200px;
	font-size: 30px;
	margin-top: -30px;
}

.publish-container {
	position: absolute;
	right: 15%;
	bottom: 5%;
}

.article-section .article {
	padding: 20px 0;
	text-align: left;
	white-space: pre-line;
}

/* Reset Select */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background: rgba(255, 0, 0, 0.1);
	background-image: none;
}
.select {
	max-width: 100%;
}
/* Remove IE arrow */
select::-ms-expand {
	display: none;
}
/* Custom Select */
.select {
	position: relative;
	background: rgba(255, 0, 0, 0.1);
	overflow: hidden;
	border-radius: 0.25em;
	top: 5px;
	display: inline-block;
}
select {
	color: #000000;
	cursor: pointer;
	padding-right: 20px;
	padding-left: 10px;
}
/* Arrow */
.select::after {
	content: "\25BC";
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(255, 0, 0, 0.1);
	cursor: pointer;
	pointer-events: none;
	-webkit-transition: 0.25s all ease;
	-o-transition: 0.25s all ease;
	transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
	color: #ec516a;
}

.platform {
	display: flex;
	justify-content: center;
}

.platform-section {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.platform-icon {
	width: 90px;
	border: 1px solid;
	border-radius: 100%;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px auto;
	cursor: pointer;
	transition: all 0.12s linear;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	background: #80808042;
	box-shadow: 0 0 25px rgb(229, 229, 229);
	border: 2px solid transparent;
}

.platform-icon:hover {
	background: #ffffff;
	box-shadow: 0 0 25px rgb(229, 229, 229);
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
	filter: none;
	border: 1px solid #000000;
}

.platform-icon.selected {
	background: #ec516a;
	box-shadow: 0 0 25px rgb(229, 229, 229);
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
	filter: none;
	color: white;
	border: 1px solid #ec516a;
}

.platform-icon.selected i {
	color: white;
}

.platform-icon i {
	font-size: 45px;
}

.platform-social {
	margin: 20px;
	width: 140px;
	height: 140px;
}

.publish-container div {
	margin-right: 30px;
}

#publish-news {
	padding: 20px;
	position: relative;
	z-index: 1;
}

/*creator page end*/

/* fancy shake effect */
.shake {
	-webkit-animation: kf_shake 0.4s 1 linear;
	-moz-animation: kf_shake 0.4s 1 linear;
	-o-animation: kf_shake 0.4s 1 linear;
}
@-webkit-keyframes kf_shake {
	0% {
		-webkit-transform: translate(30px);
	}
	20% {
		-webkit-transform: translate(-30px);
	}
	40% {
		-webkit-transform: translate(15px);
	}
	60% {
		-webkit-transform: translate(-15px);
	}
	80% {
		-webkit-transform: translate(8px);
	}
	100% {
		-webkit-transform: translate(0px);
	}
}
@-moz-keyframes kf_shake {
	0% {
		-moz-transform: translate(30px);
	}
	20% {
		-moz-transform: translate(-30px);
	}
	40% {
		-moz-transform: translate(15px);
	}
	60% {
		-moz-transform: translate(-15px);
	}
	80% {
		-moz-transform: translate(8px);
	}
	100% {
		-moz-transform: translate(0px);
	}
}
@-o-keyframes kf_shake {
	0% {
		-o-transform: translate(30px);
	}
	20% {
		-o-transform: translate(-30px);
	}
	40% {
		-o-transform: translate(15px);
	}
	60% {
		-o-transform: translate(-15px);
	}
	80% {
		-o-transform: translate(8px);
	}
	100% {
		-o-origin-transform: translate(0px);
	}
}

@media all and (max-width: 1900px) {
	.publish-container {
		bottom: 50px;
	}
}

@media all and (max-width: 1500px) {
	.creator-page-container h5 {
		top: -50px;
		font-size: 20px;
	}

	.platform-social {
		width: 100px !important;
		height: 100px !important;
	}

	.platform-icon {
		width: 60px !important;
		height: 60px !important;
	}

	.publish-container {
		position: relative;
		right: unset;
		height: auto;
		bottom: 0;
	}
}

@media all and (max-width: 1400px) {
	.current-user img {
		width: 100px;
		height: 100px;
	}

	.current-user h4 {
		margin-top: 25px;
	}

	.btn {
		padding: 10px 30px;
	}

	.invite-icon {
		padding: 15px;
		bottom: 10px;
	}

}

@media all and (max-width: 1366px) {
	h1 {
		font-size: 80px;
	}

	.logo-text-container {
		padding-top: 60px;
	}

	.logo img {
		margin-top: -40px;
	}

	.avatar.avatar-container {
		margin-top: -30px;
	}

	#faqs {
		max-width: 80%;
		flex: 80%;
		width: 80%;
	}

	#current-user {
		top: 10px;
	}
}

@media all and (max-width: 1200px) {
	body {
		overflow: hidden;
		max-height: 100vh;
	}
	body #main-content {
		display: none !important;
	}
	body .mobile-overlay {
		display: block !important;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1001;
		background-image: url(../img/bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		text-align: center;
	}
	body .mobile-overlay h1 {
		line-height: 100px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 60px;
	}
	body .mobile-overlay img {
		display: inline-block;
		max-width: 500px;
		width: 100%;
		margin-top: -120px;
	}
	body .mobile-overlay p {
		color: #ec516a;
		font-size: 40px;
		font-family: "Syne", sans-serif;
		margin: 20px;
	}
	body .mobile-overlay p i {
		font-size: 70px;
		margin-bottom: 20px;
	}
}

@media all and (max-width: 1024px) {
	body .mobile-overlay {
		display: block !important;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1001;
		background-image: url(../img/bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		text-align: center;
	}
	body .mobile-overlay h1 {
		line-height: 100px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 60px;
	}
	body .mobile-overlay img {
		display: inline-block;
		max-width: 600px;
		width: 100%;
		margin-top: -120px;
	}
	body .mobile-overlay p {
		color: #ec516a;
		font-size: 65px;
		font-family: "Syne", sans-serif;
		margin: 120px;
	}
	body .mobile-overlay p i {
		font-size: 70px;
		margin-bottom: 20px;
	}
}

@media all and (max-width: 768px) {
	body .mobile-overlay {
		display: block !important;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1001;
		background-image: url(../img/bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		text-align: center;
	}
	body .mobile-overlay h1 {
		line-height: 100px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 60px;
	}
	body .mobile-overlay img {
		display: inline-block;
		max-width: 600px;
		width: 60%;
		margin-top: -65px;
	}
	body .mobile-overlay p {
		color: #ec516a;
		font-size: 30px;
		font-family: "Syne", sans-serif;
		margin: 30px;
		margin-top: 65px;
	}
	body .mobile-overlay p i {
		font-size: 70px;
		margin-bottom: 20px;
	}
}


@media all and (max-width: 600px) {
	body .mobile-overlay {
		display: block !important;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1001;
		background-image: url(../img/bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		text-align: center;
	}
	body .mobile-overlay h1 {
		line-height: 100px;
		margin-bottom: 10px;
		font-size: 40px;
	}
	body .mobile-overlay img {
		display: inline-block;
		max-width: 600px;
		width: 70%;
	}
	body .mobile-overlay p {
		color: #ec516a;
		font-size: 30px;
		font-family: "Syne", sans-serif;
		margin: 15px;
		margin-top: 25px;
	}
	body .mobile-overlay p i {
		font-size: 70px;
		margin-bottom: 20px;
	}
}

@media all and (max-width: 400px) {
	body .mobile-overlay {
		display: block !important;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1001;
		background-image: url(../img/bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		text-align: center;
	}
	body .mobile-overlay h1 {
		line-height: 100px;
		margin-bottom: 10px;
		font-size: 40px;
	}
	body .mobile-overlay img {
		display: inline-block;
		max-width: 600px;
		width: 70%;
		margin-top: -85px;
	}
	body .mobile-overlay p {
		color: #ec516a;
		font-size: 30px;
		font-family: "Syne", sans-serif;
		margin: 15px;
		margin-top: 25px;
	}
	body .mobile-overlay p i {
		font-size: 70px;
		margin-bottom: 20px;
	}
}

@media all and (max-width: 300px) {
	body .mobile-overlay {
		display: block !important;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1001;
		background-image: url(../img/bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		text-align: center;
	}
	body .mobile-overlay h1 {
		line-height: 100px;
		margin-top: -5px;
		font-size: 40px;
	}
	body .mobile-overlay img {
		display: inline-block;
		max-width: 600px;
		width: 85%;
		margin-top: -85px;
	}
	body .mobile-overlay p {
		color: #ec516a;
		font-size: 30px;
		font-family: "Syne", sans-serif;
		margin: 15px;
		margin-top: 40px;
	}
	body .mobile-overlay p i {
		font-size: 70px;
		margin-bottom: 20px;
	}
}
